.calculator-button {
  height: 45px;
  font-size: 18px;
  border: none;
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
}

.calculator-clear-button {
  grid-column: span 4;
  background-color: #365ff4;
  color: #fff;
}
button.btn.btn-success.custom-clear-btn.w-100.fs-4.mt-2 {
  background-color: #443cc9 !important;
  border: 2px #443cc9 !important;
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: #443cc9 !important;
  border-color: #443cc9 !important;
}
